.controlPanel {
  container-type: inline-size;

  display: flex;
  justify-content: end;

  padding: 0.5rem 1rem;

  & fieldset {
    display: flex;
    align-items: center;

    flex-wrap: wrap;

    gap: 1rem;
    margin: 0;

    @container (width < 600px) {
      display: grid;
      width: 100%;
      grid-template-columns: 1fr 1fr;
    }
  }

  & button {
    padding: 0.5rem 1rem;
  }
}
